*{margin: 0;padding: 0;}
.task3{
	margin: 20px;
	background: #eee;
	border: 1px solid #999;
	position: relative;
	min-height: 500px;

}
.team_name{
	width: 198px;
	height: 120px;
	margin: 20px;	
	position: absolute;
	border: 1px solid #999;
	background: white;

}
.team_name img{
    padding: 20px;
}
h2{
	font-size: 15px;
	float: right;
	margin-right: 14px;
	margin-top: 20px;
}
.team_introduction{
	padding: 20px;
	border: 1px solid #999;
	background: white;
	margin: 20px 160px 0 240px;

}
.team_member{
	width: 118px;	
	border: 1px solid #999;
	background: white;
	right: 20px;
	top: 20px;
	position: absolute;
	padding: 10px 0 10px 0;
	margin-left: 20px;
	margin-bottom: 20px;
}
.team_member img{
	padding: 10px 20px 10px 20px;

}
